<!-- <button pButton (click)="handleClick()">Log Out</button> -->

<!-- <div class="container">
    <img class="slide-image" src="assets/test1.jpeg"
        [ngClass]="{'show': click_count === 0}" />
    <img class="slide-image" src="assets/test2.jpeg"
        [ngClass]="{'show': click_count === 1}" />

    <div class="btn-wrapper">
        <button mat-flat-button color="primary" style="position: absolute; right: 0px; top: 300px"
            (click)="handleClickNext()">Next</button>
        <button mat-flat-button color="warn" style="position: absolute; left: 0px; top: 300px" (click)="handleClickPrev()">Prev</button>
    </div>
</div> -->


<div *ngFor="let item of (newClientList$ | async)?.data?.clientList">
	{{ item.surname }}
</div>
